*{
     --banniere-height:650px   ;
}

.banniere-container{
   
    width: 100%;
    min-height: var(--banniere-height) ; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding-bottom: 100px;

    background-image: url('/public/assets/fond.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banniere-container::before{
    content: "";
    position: absolute ; 
    z-index: 0;
    top: 0;
    left: 0;
    min-height: var(--banniere-height);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



.banniere-text{
    position: relative;
    z-index: 2;
    color: white !important;
    font-weight:600 !important ;
}

 /* .banniere-text::before{
  content: '';
  height: 100%;
  width: 100%;
         background-color: rgba(0, 0, 0, 0.2);


  position: absolute ; 
  z-index: 1;
  bottom: 0;
  left: 0;


}  */