.error404 {
    width: 100%;
    min-height: 100vh;
    background-color: #263a49;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center   ; 
    gap: 50px;
}

.error404 > h1{
    font-size: 30vh;
    font-weight: 700;
    background-image: url("/public/assets/fond.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.error404 > h2{
    font-size: 13vh;
    font-weight: 700;
    background-image: url("/public/assets/fond.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}