footer{
    background-color: #263a49;
    height: 230px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer-img{
    width: 80px;
    height: auto;
    
}
.footer-sec1{
    width: 33% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}
.reserved{
    position: absolute;
    bottom: 0 ; 
    width: 100%;
    text-align: center;
}

.footer-sec2{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-left: 2px solid white ;
    border-right: 2px solid white ; 
 
}
.footer-sec2>.contact-title{
    color: white;
    margin-bottom: auto;
    margin-top: 10px;
     width: 100%;
    text-align: center;
}


.footer-sec2>.contact-info{
    width: 50%;
    min-width: 280px;
    color: white !important;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    align-items: center;
    
}

.footer-sec3{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sec3>div{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
/*********************************/
/*********************************/
/*********************************/

@media (max-width : 769px) {
    footer{
    height: auto;
    padding:  10px;
    flex-direction: column;
    width: 100%;
}

.footer-sec1{
    width: 100% !important;
    flex-direction: column;
    position: relative;

    min-height: 180px;

}

.footer-img{
    width: auto;
    height: 80px;
    
}
.reserved{
    position: absolute;
    bottom: 15px ; 
    width: 100%;
    text-align: center;
}

.footer-sec2{
    width: 90%;
    margin: 0 auto;
    min-height: 200px;
    border-left:none ; 
    border-right:none ; 
    border-top: 2px solid white ;
    border-bottom: 2px solid white ; 
 
}

.footer-sec2>.contact-title{
    color: white;
    margin-bottom: auto;
    margin-top: 10px;
     width: 100%;
    text-align: center;
}


.footer-sec2>.contact-info{
    min-width: 280px;
}

.footer-sec3{
    width: 100%;
        min-height: 100px;

   
}

.footer-sec3>div{
    width: 60%;
    min-width: 250px ; 
    
}

}